# Extracting YouTube Comments
Video ID : https://www.youtube.com/watch?v=hMtZfW2z9dw

In [1]:
from googleapiclient.discovery import build
import pandas as pd
import os

**Original Comments**

In [2]:
# Scrape Comments for SQL Using Python Through The Youtube Data API
api_key = '' # Insert your Api key here.

youtube = build('youtube', 'v3', developerKey=api_key)

box = [['name', 'comment', 'date', 'likes', 'reply_count', "parent_id", "is_parent"]]

code_lang = [{"id":"hMtZfW2z9dw"}]

for id_code in code_lang:
  data = youtube.commentThreads().list(part='snippet', videoId=id_code['id'], maxResults='100', textFormat="plainText").execute()
  for i in data["items"]:
    name = i["snippet"]['topLevelComment']["snippet"]["authorDisplayName"]
    comment = i["snippet"]['topLevelComment']["snippet"]["textDisplay"]
    published_at = i["snippet"]['topLevelComment']["snippet"]['publishedAt']
    likes = i["snippet"]['topLevelComment']["snippet"]['likeCount']
    parent = i["snippet"]['topLevelComment']["id"]
    totalReplyCount = i["snippet"]['totalReplyCount']
    
    box.append([name, comment, published_at, likes, totalReplyCount, parent, "Yes" ])          
                        
    while ("nextPageToken" in data):
      data = youtube.commentThreads().list(part='snippet', videoId=id_code['id'], pageToken=data["nextPageToken"],
                                             maxResults='100', textFormat="plainText").execute()
                                             
      for i in data["items"]:
        name = i["snippet"]['topLevelComment']["snippet"]["authorDisplayName"]
        comment = i["snippet"]['topLevelComment']["snippet"]["textDisplay"]
        published_at = i["snippet"]['topLevelComment']["snippet"]['publishedAt']
        likes = i["snippet"]['topLevelComment']["snippet"]['likeCount']
        totalReplyCount = i["snippet"]['totalReplyCount']
        parent = i["snippet"]['topLevelComment']["id"]

        box.append([name, comment, published_at, likes, totalReplyCount, parent, "Yes" ])
                

df = pd.DataFrame({'name': [i[0] for i in box], 'comment': [i[1] for i in box], 'published_at': [i[2] for i in box],
                       'likes': [i[3] for i in box], 'Reply Count': [i[4] for i in box], 'parent_id': [i[5] for i in box], 'is_parent': [i[6] for i in box]})      
sql_vids = pd.DataFrame([])
sql_vids = sql_vids.append(df, ignore_index = True)

In [3]:
sql_vids_parents = sql_vids.drop(0, axis=0)
sql_vids_parents['Reply Count'] = sql_vids_parents['Reply Count'].map(int)

In [4]:
# Filter only comments with replies
sql_vids_parents_replies = sql_vids_parents[sql_vids_parents["Reply Count"]>0]

In [5]:
# of comments with replies
print(len(sql_vids_parents_replies))
sql_vids_parents_replies.head()

1415

,name,comment,published_at,likes,Reply Count,parent_id,is_parent
1,schmoyoho,Stream the track! https://open.spotify.com/alb...,2018-07-12T18:42:05Z,13998,189,UgywoWu8TaqkOzGi8HF4AaABAg,Yes
64,Alessandro C,zoohpile be like. they coming through your win...,2022-04-27T06:08:23Z,0,1,UgxUVotSlaeFhs6UCUN4AaABAg,Yes
80,Natalia Kuligowska,Who in 2022,2022-04-23T07:22:16Z,1,1,UgxOTC-rOI5ilHfyN4p4AaABAg,Yes
98,Steven VG Fernandez,April 16 2022..,2022-04-15T23:49:18Z,2,1,UgwQ_-KChqEU20m7iT54AaABAg,Yes
102,Matt John,Whose here in 2022!?,2022-04-14T20:16:56Z,2,1,Ugwhyc1DC7HAEe9dSzx4AaABAg,Yes

**Replies only**

In [6]:
api_key = "AIzaSyCTQiMLrm5vTfNCiJSWATGbsehuwAOzezM" # Insert your Api key here.

youtube = build('youtube', 'v3', developerKey=api_key)

box = [['name', 'comment', 'date', 'likes', 'reply_count', "parent_id", "is_parent"]]

for parent_id in sql_vids_parents_replies['parent_id']:
  data = youtube.comments().list(part='snippet', maxResults='100', textFormat="plainText", parentId=parent_id).execute()
  for i in data["items"]:
    name = i["snippet"]["authorDisplayName"]
    comment = i["snippet"]["textDisplay"]
    published_at = i["snippet"]['publishedAt']
    likes = i["snippet"]['likeCount']
    parent = parent_id
    totalReplyCount = ''
    
    box.append([name, comment, published_at, likes, totalReplyCount, parent, "No" ])          
                        
    while ("nextPageToken" in data):
      data = youtube.comments().list(part='snippet', pageToken=data["nextPageToken"],
                                             maxResults='100', textFormat="plainText", parentId=parent_id).execute()
                                             
      for i in data["items"]:
        name = i["snippet"]["authorDisplayName"]
        comment = i["snippet"]["textDisplay"]
        published_at = i["snippet"]['publishedAt']
        likes = i["snippet"]['likeCount']
        parent = parent_id
        totalReplyCount = ''

        box.append([name, comment, published_at, likes, totalReplyCount, parent, "No" ])
                

df_replies = pd.DataFrame({'name': [i[0] for i in box], 'comment': [i[1] for i in box], 'published_at': [i[2] for i in box],
                       'likes': [i[3] for i in box], 'Reply Count': [i[4] for i in box], 'parent_id': [i[5] for i in box], 'is_parent': [i[6] for i in box]})      
sql_vids_replies = pd.DataFrame([])
sql_vids_replies = sql_vids_replies.append(df_replies, ignore_index = True)

In [7]:
sql_vids_replies.drop(0, axis=0, inplace=True)

In [8]:
sql_vids_replies.head()

,name,comment,published_at,likes,Reply Count,parent_id,is_parent
1,LoneWolfOmegaMale🐺,Even after 11 years this is a true classic.. a...,2022-05-26T08:09:13Z,1,,UgywoWu8TaqkOzGi8HF4AaABAg,No
2,pringelsthegamefreak,It's been so long,2018-12-18T04:58:27Z,0,,UgywoWu8TaqkOzGi8HF4AaABAg,No
3,Brazilian Simon,Lmao,2018-12-17T06:31:21Z,0,,UgywoWu8TaqkOzGi8HF4AaABAg,No
4,ChocoMintTea,Lmao,2018-12-11T19:52:36Z,1,,UgywoWu8TaqkOzGi8HF4AaABAg,No
5,The Pixel Queen,This will shape the history of YouTube,2018-12-05T21:30:19Z,0,,UgywoWu8TaqkOzGi8HF4AaABAg,No

**Combining the datasets**

In [9]:
df_all = pd.concat([sql_vids, sql_vids_replies])

In [10]:
# Total # of records
len(df_all)

136592

In [11]:
# Saving files
df_all.to_csv(os.path.join('../output/','06112022_BI_youtube_comments.csv'),encoding='utf_8_sig')
df_all.to_pickle(os.path.join('../output/','06112022_BI_youtube_comments.pkl'))